/*-- scss:defaults --*/
// Base document colors
// $body-bg: #181818;
// $body-color: white;
$link-color: #e03091;
// $headings-color: #78c2ad;
// https://github.com/quarto-dev/quarto-cli/blob/main/src/resources/formats/html/bootstrap/themes/minty.scss

// Code blocks
$code-block-bg-alpha: -.8;
$code-block-bg: #292929;

